@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

input[type=text] {
  background-color: white;
  background-image: url("../src/images/circle-small.png"); 
  background-position: -2px -14px;
  background-repeat: no-repeat;
  /* background-position: left; */
  padding-left: 4.2rem;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0.1rem;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

